<!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<%- include('partials/header') -%>
<div id="form-container" class="container">
  <h2>
    <%= characters.name %> of <%= characters.game %> 
  </h2>
  <form action="/post/editCharacter/<%= characters._id %>?_method=PUT" method="POST">
    <div class="row">
      <!-- char image div -->
      <div>
        <img class="card" src="<%= characters.image %>" >
      </div>
      <!-- char name & game div -->
      <div>
        <div class="mb-3">
          <label for="name" class="form-label">Character Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="<%= characters.name %>">
        </div>
        <div class="mb-3">
          <label for="game" class="form-label">Game Name</label>
          <input type="text" class="form-control" id="game" name="game" placeholder="<%= characters.game %>">
        </div>
      </div>
    </div>
    <!-- Quill Notes div -->
    <div class="mb-3">
      <label for="notes" class="form-label">Character/Game Notes</label>
      <input name="quillNotes" type="hidden">
      <div id="notes-container">
        <p><%= characters.notes %></p>
      </div>
    </div>
    <!-- Save Character -->
    <div class="mb-3">
      <button class="btn btn-primary" type="submit">Save Character</button>
    </div>
  </form>
</div>

<%- include('partials/footer') -%>

<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>


<!-- Initialize Quill editor -->
<script>
  var quill = new Quill('#notes-container', {
    theme: 'snow'
  });

  var form = document.querySelector('form');

  form.onsubmit = function() {
  // Populate hidden form on submit
  var quillNotes = document.querySelector('input[name=quillNotes]');
  quillNotes.value = JSON.stringify(quill.getContents());
  
  // console.log("Submitted", $(form).serialize(), $(form).serializeArray());
  console.log($(form).serializeArray().quillNotes)
  return false;
}
</script>