<%- include('partials/navheader') -%>

<main class="py-5 container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">    
      <!-- Outer Card -->
      <div class="card card-border border-muted shadow-light-lg" data-jarallax-element="-40" style="z-index: 0; transform: translate3d(0px, 16.1003px, 0px);">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-12 col-xl-11">
              <!-- Heading -->
              <h2 class="fw-bold text-center mb-1">
                <%= characters.name %>%>
              </h2>

              <!-- Text -->
              <p class="fs-lg text-center text-muted mb-6 mb-md-8">
                <%= characters.game %>
              </p>              
              
              <!-- Form -->
              <form action="/post/editCharacter/<%= characters._id%>?_method=PUT" method="POST">
                <div class="row">

                <!-- Image -->
                <!-- <div class="card w-25 p-3 shadow-sm text-center">
                  <img class="bgi-size-cover rounded max-h-225px" height="225" src="<%= characters.image%>">
                </div> -->

                  <div>
                    <div class="mb-3">
                      <label for="name" class="form-label">Character Name</label>
                      <input type="text" class="form-control" id="name" name="name" placeholder="<%= characters.name %>">
                    </div>
                    <div class="mb-3">
                      <label for="game" class="form-label">Game Name</label>
                      <input type="text" class="form-control" id="game" name="game" placeholder="<%= characters.game %>">
                    </div>
                    <div class="mb-3">
                      <label for="notes" class="form-label">Notes</label>
                      <textarea class="form-control" id="notes" name="notes"><%= characters.notes %></textarea>
                    </div>
                  </div>
                </div>
                <!-- Save Character -->
                <div class="mb-3">
                  <button type="submit" class="btn btn-primary mt-3 w-100">Update Character</button>
                </div>                
              </form>
            </div> <!-- col-12 -->
          </div> <!-- row -->
        </div> <!-- card-body -->
      </div> <!-- card -->
    </div> <!-- col-12 -->
  </div> <!-- row -->
</main>


<%- include('partials/footer') -%>