<%- include('partials/navheader') -%>

<div class="container">
  <div class="row mt-5">
    <div>
      <!-- Welcome Div -->
      <section class="py-3 text-center container">
        <div class="row py-lg-3">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Welcome back, <%= user.userName %>!</h1>
            <p class="lead text-muted">Here are your characters.</p>
            <p>
              <a href="/newchar" class="btn btn-primary my-2">Add New Character</a>
            </p>
          </div>
        </div>
      </section>
      <!-- Bootstrap Cards -->
      <section class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% characters.forEach( el => { %>
          <div class="col" data-id='<%=el._id%>'>
            <div class="card-header">
              <%=el.favorite%>
            </div>
            <div class="card shadow-sm text-center">
              <!-- Image -->
              <a href="/post/<%= el._id%>">
                <img class="bd-placeholder-img card-img-top img-fluid" height="225" src="<%= el.image%>">
              </a>
                <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
  
              
              <!-- card body -->
            <div class="card-body">
              <h5 class="card-title"><%= el.name %></h5>
              <p class="card-text"><%= el.game %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <% if(el.favorite) { %>
                    <form action="/post/unfavoriteCharacter/<%= el._id %>?_method=PUT" method="POST">
                      <button type="button" class="btn btn-outline-secondary" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                          <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
                        </svg>
                        <span class="visually-hidden">Unfavorite Button</span>
                      </button>
                    </form>
                  <% } else { %>
                    <form action="/post/favoriteCharacter/<%= el._id %>?_method=PUT" method="POST">
                      <button type="button" class="btn btn-outline-secondary" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-plus" viewBox="0 0 16 16">
                          <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                          <path d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z"/>
                        </svg>
                        <span class="visually-hidden">Favorite Button</span>
                      </button>
                    </form>
                  <% } %>
                  <form action="/post/deleteCharacter/<%= el._id %>?_method=DELETE" method="POST">
                    <button type="button" class="btn btn-outline-secondary" type="submit">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                      <span class="visually-hidden">Delete Button</span>
                    </button>
                  </form>
                  <!-- <form action="/post/favoriteCharacter/<%= el._id %>?_method=PUT" method="POST">
                    <button class="btn btn-sm fa fa-heart btn-outline-secondary" type="submit"></button>
                  </form>
                  <form action="/post/deleteCharacter/<%= el._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-sm fa fa-trash btn-outline-secondary" type="submit"></button>
                  </form> -->
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </section>


      <!-- Character List Div -->
      <!-- <h2>Available Characters:</h2>
      <section>
        <% characters.forEach( el => { %>
          <div class="chars card" data-id='<%=el._id%>' >
            <span><%= el.name %></span>
            <a href="/post/<%= el._id%>">
              <img class="avatar" src="<%= el.image%>">
            </a> 
            <span><%= el.game %></span>
            <div class="flex justify-content-between">
              <form
              action="/post/favoriteCharacter/<%= el._id %>?_method=PUT"
              method="POST"
            >
            <button class="btn btn-primary fa fa-heart" type="submit"></button>
            </form>
            <form
              action="/post/deleteCharacter/<%= el._id %>?_method=DELETE"
              method="POST"
            >
            <button class="btn btn-primary fa fa-trash" type="submit"></button>
            </form>
            </div>
          </div>
        <% }) %>
      </section> -->
     
      
  </div>
</div>

<%- include('partials/footer') -%>