<%- include('partials/navheader') -%>

<div class="container">
  <div class="row mt-5">
    <div>
      <!-- Welcome Div -->
      <section class="py-3 text-center container">
        <div class="row py-lg-3">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Welcome back, <%= user.userName %>!</h1>
            <p class="lead text-muted">Here are your characters.</p>
            <p>
              <a href="/newchar" class="btn btn-primary my-2">Add New Character</a>
            </p>
          </div>
        </div>
      </section>
      <!-- Bootstrap Cards -->
      <section class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% characters.forEach( el => { %>
          <div class="col" data-id='<%=el._id%>'>
            <div class="card shadow-sm text-center">
              <!-- Image -->
              <a href="/post/<%= el._id%>">
                <img class="bgi-size-cover rounded max-h-225px" height="300" src="<%= el.image%>">
              </a>
              
            <!-- card body -->
            <div class="card-body">
              <h5 class="card-title"><%= el.name %></h5>
              <p class="card-text"><%= el.game %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <% if(el.favorite == true) { %>
                    <form action="/post/unfavoriteCharacter/<%= el._id %>?_method=PUT" method="POST">
                      <button type="submit" class="btn btn-outline-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-x" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M6.146 5.146a.5.5 0 0 1 .708 0L8 6.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 7l1.147 1.146a.5.5 0 0 1-.708.708L8 7.707 6.854 8.854a.5.5 0 1 1-.708-.708L7.293 7 6.146 5.854a.5.5 0 0 1 0-.708z"/>
                          <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                        </svg>
                        <!-- <span class="visually-hidden">Unfavorite Button</span> -->
                      </button>
                    </form>
                  <% } else { %>
                    <form action="/post/favoriteCharacter/<%= el._id %>?_method=PUT" method="POST">
                      <button type="submit" class="btn btn-outline-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-heart" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
                          <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                        </svg>
                        <!-- <span class="visually-hidden">Favorite</span> -->
                      </button>
                    </form>
                  <% } %>
                  <form action="/post/deleteCharacter/<%= el._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-outline-secondary">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                      <span class="visually-hidden">Delete</span>
                    </button>
                  </form>
                  <!-- <form action="/post/favoriteCharacter/<%= el._id %>?_method=PUT" method="POST">
                    <button class="btn btn-sm fa fa-heart btn-outline-secondary" type="submit"></button>
                  </form>
                  <form action="/post/deleteCharacter/<%= el._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-sm fa fa-trash btn-outline-secondary" type="submit"></button>
                  </form> -->
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </section>


      <!-- Character List Div -->
      <!-- <h2>Available Characters:</h2>
      <section>
        <% characters.forEach( el => { %>
          <div class="chars card" data-id='<%=el._id%>' >
            <span><%= el.name %></span>
            <a href="/post/<%= el._id%>">
              <img class="avatar" src="<%= el.image%>">
            </a> 
            <span><%= el.game %></span>
            <div class="flex justify-content-between">
              <form
              action="/post/favoriteCharacter/<%= el._id %>?_method=PUT"
              method="POST"
            >
            <button class="btn btn-primary fa fa-heart" type="submit"></button>
            </form>
            <form
              action="/post/deleteCharacter/<%= el._id %>?_method=DELETE"
              method="POST"
            >
            <button class="btn btn-primary fa fa-trash" type="submit"></button>
            </form>
            </div>
          </div>
        <% }) %>
      </section> -->
     
      
  </div>
</div>

<%- include('partials/footer') -%>